[submodule "external/fpocket"]
	path = external/fpocket
	url = https://github.com/Discngine/fpocket
[submodule "external/metal-site-prediction"]
	path = external/metal-site-prediction
	url = https://github.com/lcbc-epfl/metal-site-prediction
